In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('productSales.xlsx')
data

       product  sales
0        Apple     15
1       Banana     13
2   Strawberry     16
3   Watermelon     16
4        Apple     46
5       Banana     34
6   Strawberry     67
7   Watermelon     35
8        Apple     23
9       Banana     56
10  Strawberry     32
11  Watermelon     45

In [3]:
data_filtered = data.groupby('product').sum('sales').reset_index()
data_filtered

      product  sales
0       Apple     84
1      Banana    103
2  Strawberry    115
3  Watermelon     96

In [4]:
writer = pd.ExcelWriter('sales_report.xlsx', engine='openpyxl')

# Write the DataFrame to the Excel file
data_filtered.to_excel(writer, index=False)

# Save the file
writer.save()

# Close the writer
writer.close()

AttributeError: 'OpenpyxlWriter' object has no attribute 'save'