In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('data.xlsx')
data

      Sales
0       230
1       240
2       250
3       260
4       270
...     ...
1294  13170
1295  13180
1296  13190
1297  13200
1298  13210

[1299 rows x 1 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sales   1299 non-null   int64
dtypes: int64(1)
memory usage: 10.3 KB

In [4]:
data_filtered = data[data['Sales'] > 1000]
data_filtered

      Sales
78     1010
79     1020
80     1030
81     1040
82     1050
...     ...
1294  13170
1295  13180
1296  13190
1297  13200
1298  13210

[1221 rows x 1 columns]

In [5]:
import openpyxl

In [6]:
wb = openpyxl.Workbook()

In [7]:
from openpyxl import load_workbook

In [8]:
file_path = 'data.xlsx'

In [9]:
try:
    workbook = load_workbook(file_path)
except FileNotFoundError:
    workbook = Workbook()

In [11]:
sheet = workbook.create_sheet('Filtered Data')

# Write the filtered data to the Excel sheet
for i, row in data_filtered.iterrows():
    sheet.append(row.values.tolist())

# Save the workbook
workbook.save(file_path)