1.Import the titanic dataset that you can find on Kaggle.
Print the first few rows of the DataFrame.

In [1]:
!pip install opendatasets
!pip install pandas

Requirement already satisfied: opendatasets in c:\users\olgak\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (4.64.0)
Requirement already satisfied: click in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: kaggle in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (1.6.14)
Requirement already satisfied: colorama in c:\users\olgak\anaconda3\lib\site-packages (from click->opendatasets) (0.4.4)
Requirement already satisfied: requests in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: python-dateutil in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: bleach in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: urllib3 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.9)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.7.4)
Requirement already satisfied: six>=1.10 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: packaging in c:\users\olgak\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (21.3)
Requirement already satisfied: webencodings in c:\users\olgak\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\olgak\anaconda3\lib\site-packages (from packaging->bleach->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\olgak\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\olgak\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\olgak\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: pandas in c:\users\olgak\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\olgak\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import opendatasets as od 


od.download( 
	"https://www.kaggle.com/competitions/titanic/data")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: olgasazanova
Your Kaggle Key: ········
Downloading titanic.zip to .\titanic

100%|██████████████████████████████████████████████████████████████████████████████| 34.1k/34.1k [00:00<00:00, 662kB/s]

Extracting archive .\titanic/titanic.zip to .\titanic

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('gender_submission.csv')

In [5]:
data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [6]:
data2 = pd.read_csv('test.csv')

In [58]:
data2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
data3 = pd.read_csv('train.csv')

In [9]:
data3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2.Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.
Import the CSV file using Pandas.
Display the first five rows of the dataset.

In [10]:
import opendatasets as od 


od.download( 
	"https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

Downloading https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data to .\iris.data

8192it [00:00, 12183.51it/s]

In [11]:
iris = pd.read_csv('iris.data')

In [12]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

3.Import the JSON data from the provided URL.
Use Pandas to read the JSON data.
Display the first five entries of the data.

In [13]:
od.download( 
	"https://jsonplaceholder.typicode.com/posts")

Downloading https://jsonplaceholder.typicode.com/posts to .\posts

32768it [00:00, 197865.49it/s]

In [14]:
json = pd.read_json('posts')

In [15]:
json.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

4.Download the sample Excel file and place it in your working directory.
Use Pandas to read the Excel file.
Display the first few rows of the data.

In [16]:
od.download( 
	"https://file-examples.com/wp-content/storage/2017/02/file_example_XLS_10.xls")

Downloading https://file-examples.com/wp-content/storage/2017/02/file_example_XLS_10.xls to .\file_example_XLS_10.xls

8192it [00:00, 29340.79it/s]

In [57]:
content_excel = pd.read_excel('file_example_excel')

FileNotFoundError: [Errno 2] No such file or directory: 'file_example_excel'

Create a simple dataframe.
Export the dataframe to an excel file.
Export the dataframe to a JSON file.

In [18]:
import numpy as np
from faker import Faker

fake = Faker()

# Generating synthetic names and ages, etc
data = [(fake.name(), np.random.randint(20, 60), fake.address(), fake.ascii_free_email(), np.random.randint(9000, 35000) ) for _ in range(100)]

# Converting to a DataFrame


df = pd.DataFrame(data, columns=['Name', 'Age', 'Address', 'email', 'Income'])
print(df.head(10))

               Name  Age                                            Address  \
0    Felicia Parker   35  20492 Kelly Estates Suite 193\nEast Alexton, K...
1   Joseph Schwartz   57             5420 Grant Ville\nManuelfort, GU 19708
2   Rebecca Johnson   27      171 Molly Club Suite 542\nLaurafurt, WV 56981
3    Katherine Kent   35  4289 Jennifer Center Apt. 494\nSouth Christina...
4        Kevin Odom   25  4602 Russell Drives Apt. 265\nColemanmouth, NV...
5      Debra Bender   43   4261 Powell Haven Apt. 708\nLake Tyler, GU 22590
6   Michael Morales   28            3427 Fernando Roads\nLongside, MI 50715
7     Jody Martinez   56           4772 Ashley Lodge\nBarkerville, PR 71257
8        John Mckee   31     78544 Paul Meadows\nNew Jonathanside, AL 11227
9  Patricia Perkins   32   83473 Philip Unions\nSouth Williamland, WA 08794

                      email  Income
0  mcmillanrobert@gmail.com   19582
1   kellymcdonald@yahoo.com   13167
2       gmartinez@gmail.com   21593
3     graymatthew@gmail.com    9107
4     johnsonsean@gmail.com   15248
5         kbailey@yahoo.com   25653
6       rriddle@hotmail.com   12248
7   masonnicholas@gmail.com    9850
8        dsmith@hotmail.com   14617
9     bradleylang@gmail.com   28605

In [24]:
df.to_excel('customers.xlsx', sheet_name='Sheet1')

In [25]:
df.to_json('customers2.json')