1. Objective: Understand The Basic Overview And Significance Of Data Analysis.
Task:
Write a short essay or report on the following topics:

What is data analysis?
Why is data analysis important in modern contexts?
List and describe three areas where data analysis is applied today.

In the modern world, we constantly leave information about ourselves: every like on a social network, every purchase, every trip - everything is saved and all this can be analyzed to help business or society. 
Data analysis is an important part of modern science. For example, in astronomy, scientists now do not make discoveries by observing through a telescope, but by analyzing a huge amount of data about the position and trajectory of celestial objects. In medicine, data analytics helps doctors predict diseases. And modern independent data journalists, using data analysis, inform the public, for example, about corruption scandals.

In [19]:
# 2 Dataset Loading And Initial Analysis

#Objective: Practice Dataset Loading From Kaggle And Initial Analysis.
#For the datasets from the previous exercise,
#categorize each column of it as either quantitative or qualitative and explain your reasoning.

!pip install opendatasets
!pip install pandas

Requirement already satisfied: opendatasets in c:\users\olgak\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (4.64.0)
Requirement already satisfied: click in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: kaggle in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (1.6.14)
Requirement already satisfied: colorama in c:\users\olgak\anaconda3\lib\site-packages (from click->opendatasets) (0.4.4)
Requirement already satisfied: bleach in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: python-dateutil in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: python-slugify in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.7.4)
Requirement already satisfied: urllib3 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.9)
Requirement already satisfied: six>=1.10 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: packaging in c:\users\olgak\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (21.3)
Requirement already satisfied: webencodings in c:\users\olgak\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\olgak\anaconda3\lib\site-packages (from packaging->bleach->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\olgak\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\olgak\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\olgak\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.3)
Requirement already satisfied: pandas in c:\users\olgak\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\olgak\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import opendatasets as od 


od.download( 
	"https://www.kaggle.com/datasets/thedevastator/how-much-sleep-do-americans-really-get/data")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: olgasazanova
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/thedevastator/how-much-sleep-do-americans-really-get
Downloading how-much-sleep-do-americans-really-get.zip to .\how-much-sleep-do-americans-really-get

100%|██████████████████████████████████████████████████████████████████████████████| 7.62k/7.62k [00:00<00:00, 558kB/s]

In [4]:
import pandas as pd

In [7]:
data = pd.read_csv('Time Americans Spend Sleeping.csv')

In [8]:
data.head()

,index,Year,Period,Avg hrs per day sleeping,Standard Error,Type of Days,Age Group,Activity,Sex
0,0,2003,Annual,8.57,0.018,All days,15 years and over,Sleeping,Both
1,1,2004,Annual,8.55,0.026,All days,15 years and over,Sleeping,Both
2,2,2005,Annual,8.62,0.023,All days,15 years and over,Sleeping,Both
3,3,2006,Annual,8.63,0.024,All days,15 years and over,Sleeping,Both
4,4,2007,Annual,8.57,0.024,All days,15 years and over,Sleeping,Both

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     945 non-null    int64
 1   Year                      945 non-null    int64
 2   Period                    945 non-null    object
 3   Avg hrs per day sleeping  945 non-null    float64
 4   Standard Error            945 non-null    float64
 5   Type of Days              945 non-null    object
 6   Age Group                 945 non-null    object
 7   Activity                  945 non-null    object
 8   Sex                       945 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 66.6+ KB

The first dataset('Time Americans Spend Sleeping.csv') provides information on the average amount of time Americans spend sleeping, broken down by age group, sex, and activity
<br>categorize each column of it as either quantitative or qualitative and explain your reasoning.
<br>
<br>Year: The year the data was collected. (Integer) **quantitative** We show the year when data was collected, we can count years.
<br>Period: The period of the day the data was collected. (String) **qualitative** explaining in words when data was collected
<br>Avg hrs per day sleeping: The average number of hours per day Americans spend sleeping. (Float) **quantitative** we can count hours. make aggreations functions
<br>Standard Error: The standard error for the average number of hours per day Americans spend sleeping. (Float) **quantitative** we can compare the standart errors, count, aggregate
<br>Type of Days: The type of day the data was collected. (String) **qualitative** type of day
<br>Age Group: The age group of the Americans surveyed. (String) **qualitative** type of group age
<br>Activity: The activity the Americans surveyed were engaged in. (String) **qualitative** type of activity
<br>Sex: The sex of the Americans surveyed. (String) **qualitative** male or female

In [31]:
data['Age Group'].unique()

array(['15 years and over', '15 to 24 years', '25 to 34 years',
       '35 to 44 years', '45 to 54 years', '55 to 64 years',
       '65 years and over'], dtype=object)

In [32]:
data['Activity'].unique()

array(['Sleeping'], dtype=object)

In [33]:
data['Sex'].unique()

array(['Both', 'Men', 'Women'], dtype=object)

In [34]:
data[data['Sex'] == 'Men'].count()

index                       315
Year                        315
Period                      315
Avg hrs per day sleeping    315
Standard Error              315
Type of Days                315
Age Group                   315
Activity                    315
Sex                         315
dtype: int64

In [35]:
data[data['Sex'] == 'Women'].count()

index                       315
Year                        315
Period                      315
Avg hrs per day sleeping    315
Standard Error              315
Type of Days                315
Age Group                   315
Activity                    315
Sex                         315
dtype: int64

For me it would be interesting to compare different groups(Men and women, age groups) and check a trends how duration of sleeping changes from one year to another.

In [10]:
od.download( 
	"https://www.kaggle.com/datasets/thedevastator/uncover-global-trends-in-mental-health-disorder")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: olgasazanova
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/thedevastator/uncover-global-trends-in-mental-health-disorder
Downloading uncover-global-trends-in-mental-health-disorder.zip to .\uncover-global-trends-in-mental-health-disorder

100%|█████████████████████████████████████████████████████████████████████████████| 1.24M/1.24M [00:00<00:00, 1.87MB/s]

In [11]:
data2=pd.read_csv('Mental health Depression disorder Data.csv')

C:\Users\olgak\AppData\Local\Temp\ipykernel_9692\3258264902.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 =pd.read_csv('Mental health Depression disorder Data.csv')

In [12]:
data2.head()

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [14]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108553 entries, 0 to 108552
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      108553 non-null  int64
 1   Entity                     108553 non-null  object
 2   Code                       103141 non-null  object
 3   Year                       108553 non-null  object
 4   Schizophrenia (%)          25875 non-null   object
 5   Bipolar disorder (%)       19406 non-null   object
 6   Eating disorders (%)       100236 non-null  object
 7   Anxiety disorders (%)      6468 non-null    float64
 8   Drug use disorders (%)     6468 non-null    float64
 9   Depression (%)             6468 non-null    float64
 10  Alcohol use disorders (%)  6468 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 9.1+ MB

This dataset contains information about the prevalence of mental health disorders in countries across the globe
<br>
<br>Entity: Unique identifier for each country or region included in the data set. (String) **qualitative** name of country/region
<br>Code: Unique code associated with an Entity/Country or region included in the data set. (String) **qualitative** another way to write a name of country/region
<br>Year: Year that the data about that particular Entity/Country was collected. (Integer) **quantitative**
<br>Schizophrenia (%): Percentage of people with schizophrenia in that country/region during that year. (Float) **quantitative** here is percentege, we can  aggregate it
<br>Bipolar disorder (%): Percentage of people with bipolar disorder in that country/region during that year. (Float) **quantitative**
<br>Eating disorders (%): Percentage of people with eating disorders in that country/region during that year. (Float) **quantitative**
<br>Anxiety disorders (%): Percentage of people with anxiety disorders in that country/region during that year. (Float) **quantitative**
<br>Drug use disorders (%): Percentage of people with drug use disorders in that country/region during that year. (Float) **quantitative**
<br>Depression (%): Percentage of people with depression in that country/region during that year. (Float) **quantitative**
<br>Alcohol use disorders (%): Percentage of people with alcohol use disorders in that country/region during that year. (Float) **quantitative**

In [15]:
od.download( 
	'https://www.kaggle.com/datasets/samuelcortinhas/credit-card-approval-clean-data')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: olgasazanova
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/samuelcortinhas/credit-card-approval-clean-data
Downloading credit-card-approval-clean-data.zip to .\credit-card-approval-clean-data

100%|█████████████████████████████████████████████████████████████████████████████| 19.0k/19.0k [00:00<00:00, 1.93MB/s]

In [16]:
data3 = pd.read_csv('clean_dataset.csv')

In [17]:
data3.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

In [18]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int64
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int64
 4   BankCustomer    690 non-null    int64
 5   Industry        690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int64
 9   Employed        690 non-null    int64
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int64
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    int64
 14  Income          690 non-null    int64
 15  Approved        690 non-null    int64
dtypes: float64(3), int64(10), object(3)
memory usage: 86.4+ KB

This dataset contains a cleaned version of the dataset on credit card approvals.
<br>
<br>Gender - **qualitative** because 1 or 0 means male or female
<br>Age - **quantitative**  how old is a person
<br>Debt **quantitative** hoe much money on debt
<br> Married  **qualitative** married or no
<br> BankCustomer  **qualitative** is person already bank customer or no
<br> Industry **qualitative**  job sector of current or most recent job
<br> Ethnicity **qualitative** what Ethnicity
<br>YearsEmployed **quantitative**  Years employed
<br>PriorDefault **qualitative** 0=no prior defaults, 1=prior default
<br>Employed **qualitative**  0=not employed, 1=employed
<br>CreditScore **quantitative**  ??
<br>DriversLicense **qualitative**   0=no license, 1=has license
<br>Citizen **qualitative**   Citizenship, either ByBirth, ByOtherMeans or Temporary
<br>ZipCode **qualitative** it is like address, we can't count it
<br>Income **quantitative** how much is income
<br>Approved **qualitative** 0=not approved, 1=approved

In [24]:
od.download( 
	'https://www.kaggle.com/datasets/saurabh00007/iriscsv')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: olgasazanova
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/saurabh00007/iriscsv
Downloading iriscsv.zip to .\iriscsv

100%|█████████████████████████████████████████████████████████████████████████████| 1.28k/1.28k [00:00<00:00, 92.1kB/s]

In [25]:
data_iris = pd.read_csv('Iris.csv')

In [26]:
data_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [27]:
data_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

Columns  SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm   are quantitative (because  it is a sizes of flowers),  Species qualitative because it is different types of flowers.

In [28]:
data_iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [29]:
data_iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

Here we can see mean of each quantitative column.