Use NumPy to generate a synthetic dataset representing average monthly temperatures (in degrees Celsius) for 12 months across 10 different cities. The temperatures should range from -5 to 35 degrees.

In [9]:
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
temp_arr = np.random.uniform(-5, 35, size=(10, 12))
temp_arr = np.round(temp_arr).astype(int)
temp_arr

array([[33, 22, 33, 27, 30, 14, -3,  7, 31, -3, 20, 13],
       [15, 20, 17,  6, 22, 15, 14, 23,  1, 17, 33, 30],
       [ 6,  5, 35, 18, 33, 26, -1, 33, 32,  5,  1, 31],
       [11, -2,  7, 15, 10, 17, 17, 11, 20, 33,  7,  4],
       [26,  7,  1, 27, 16, 27, 26, 24,  7,  2,  8, 31],
       [30, 26, 19,  9, 23, 18,  4,  6, 19,  1,  8,  3],
       [19, 17, 27,  5, 30,  8, 12, 27,  7, 14, 16, 20],
       [ 4,  9, 29, 28,  7,  5, 32, -2, 15, 13, 10, 34],
       [26,  1, 11, 25, 26, 20, 19, 19,  5, 14, 21,  6],
       [35, 28, 32, -4,  6,  4, 19, 32,  2, 31, 18, 19]])

In [3]:
towns=['Acrine', 'Blencogo', 'Cherrytown', 'Kinecardine', 'Saker Keep', 'Queenstown', 'Howe', 'Aelinmiley', 'Aermagh', 'Kelna']
df= pd.DataFrame(temp_arr, index=range(len(towns)), columns=['January', 'February', 'March',
                                                                     'April', 'May', 'June', 'July',
                                                                       'August', 'September', 'October',
                                                                       'November', 'December'])
df

,January,February,March,April,May,June,July,August,September,October,November,December
0,33,22,33,27,30,14,-3,7,31,-3,20,13
1,15,20,17,6,22,15,14,23,1,17,33,30
2,6,5,35,18,33,26,-1,33,32,5,1,31
3,11,-2,7,15,10,17,17,11,20,33,7,4
4,26,7,1,27,16,27,26,24,7,2,8,31
5,30,26,19,9,23,18,4,6,19,1,8,3
6,19,17,27,5,30,8,12,27,7,14,16,20
7,4,9,29,28,7,5,32,-2,15,13,10,34
8,26,1,11,25,26,20,19,19,5,14,21,6
9,35,28,32,-4,6,4,19,32,2,31,18,19

Calculate the annual average temperature for each city.

In [4]:
df1 = df
df1['ann_avr'] = round(df.mean(axis = 1)).astype(int)
df1

,January,February,March,April,May,June,July,August,September,October,November,December,ann_avr
0,33,22,33,27,30,14,-3,7,31,-3,20,13,19
1,15,20,17,6,22,15,14,23,1,17,33,30,18
2,6,5,35,18,33,26,-1,33,32,5,1,31,19
3,11,-2,7,15,10,17,17,11,20,33,7,4,12
4,26,7,1,27,16,27,26,24,7,2,8,31,17
5,30,26,19,9,23,18,4,6,19,1,8,3,14
6,19,17,27,5,30,8,12,27,7,14,16,20,17
7,4,9,29,28,7,5,32,-2,15,13,10,34,15
8,26,1,11,25,26,20,19,19,5,14,21,6,16
9,35,28,32,-4,6,4,19,32,2,31,18,19,18

Identify the city with the highest and lowest average temperature for the year.

In [5]:
df1['ann_avr'].max()

19

In [6]:
towns[df1['ann_avr'].idxmax()]

'Acrine'

In [7]:
df1['ann_avr'].min()

12

In [8]:
towns[df1['ann_avr'].idxmin()]

'Kinecardine'

In [10]:
df.reset_index(inplace=True)
df.rename(columns={'index': 'Town'}, inplace=True)


df_melted = df.melt(id_vars='Town', var_name='Month', value_name='Temperature')


fig = px.line(df_melted, x='Month', y='Temperature', color='Town',
              title='Average Monthly Temperature for 10 Towns',
              labels={'Temperature': 'Temperature (°C)', 'Month': 'Month', 'Town': 'Town'})

fig.show()