In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('IRIS.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

There is no missing values

In [8]:
data.rename(columns={
    'sepal_length': 'SepalLengthCm',
    'sepal_width': 'SepalWidthCm',
    'petal_length': 'PetalLengthCm',
    'petal_width': 'PetalWidthCm',
    'species': 'Species'
}, inplace=True)
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\olgak\anaconda3\lib\site-packages (3.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\olgak\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [14]:
file_name = 'cleaned_iris.xlsx'
data.to_excel(file_name, index=False)

In [16]:

imported_iris = pd.read_excel('cleaned_iris.xlsx')
imported_iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
iris_subset = imported_iris[['SepalLengthCm', 'PetalLengthCm', 'Species']].head(5)


subset_file_name = 'iris_subset.json'
iris_subset.to_json(subset_file_name, orient='records', lines=True)

In [20]:
iris_subset

   SepalLengthCm  PetalLengthCm      Species
0            5.1            1.4  Iris-setosa
1            4.9            1.4  Iris-setosa
2            4.7            1.3  Iris-setosa
3            4.6            1.5  Iris-setosa
4            5.0            1.4  Iris-setosa